@model JaMoin.Models.UebersichtViewModel

@{
    ViewData["Title"] = "Uebersicht";
}

<h1>Alle Transaktionen</h1>

<p>
    <a href="CreateTransaction">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            @foreach (var user in Model.AllUsers)
            {
            <th>
                @user
            </th>
            }
            <th>
                Kommentar
            </th>
            <th>
                Gesamtbetrag
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.AllTransactions) {
        <tr>
            @foreach (var user in Model.AllUsers)
            {
                <th>
                    @if(item.Schulden!= null && item.Schulden.Any(s => s.SchuldnerEmail == user))
                    {
                        @("-" + @item.Schulden.First(s => s.SchuldnerEmail == user).Betrag)
                    }
                    @if(item.GeldgeberEmail == user)
                    {
                        @(item.GesamtBetrag)
                    }
                </th>
            }
            <th>
                @item.Kommentar
            </th>
            <th>
                @item.GesamtBetrag
            </th>
        </tr>
}
    </tbody>
</table>
